# Exclude All
*

# White List
!.env
!.gitignore
!Dockerfile
!docker-compose.yml
!index.html
!local.development.sh
!open-api.schema.yaml
!package.json
!README.md
!schema.*.prisma
!system-architecture-diagram.png
!tsconfig.json

!clients/
!clients/user-profile-spa/
!clients/user-profile-spa
!clients/user-profile-spa/eslint.config.js
!clients/user-profile-spa/index.html
!clients/user-profile-spa/package.json
!clients/user-profile-spa/public
!clients/user-profile-spa/public/*
!clients/user-profile-spa/src
!clients/user-profile-spa/src/**/*
!clients/user-profile-spa/vite.config.local.js

!services/
!services/rentals/
!services/rentals/request/
!services/rentals/request/src
!services/rentals/request/src/**/*

!system/
!system/event-server
!system/event-server/package.json
!system/event-server/schema.prisma
!system/event-server/src
!system/event-server/src/**/*
!system/event-server/tsconfig.json
!system/event-server/tsconfig.package.json
!system/event-server/migrations
!system/event-server/migrations/**/*

!system/auth-server/
!system/auth-server/src
!system/auth-server/src/**/*
!system/auth-server/migrations
!system/auth-server/migrations/**/*

!data-access-system/
!data-access-system/
!data-access-system/configuration
!data-access-system/configuration/**/*
!data-access-system/migrations
!data-access-system/migrations/**/*
!data-access-system/src
!data-access-system/src/**/*

!example-micro-service

!packages
!packages/index.js
!packages/sql-query-builder/
!packages/sql-query-builder/**/*
packages/sql-query-builder/node_modules
packages/sql-query-builder/*.yaml