# Exclude All
*

# White List
!.env
!.gitignore
!Dockerfile
!docker-compose.yml
!index.html
!local.development.sh
!open-api.schema.yaml
!package.json
!README.md
!schema.*.prisma
!system-architecture-diagram.png
!tsconfig.json

!clients/
!clients/react-single-page-application/
!clients/react-single-page-application
!clients/react-single-page-application/eslint.config.js
!clients/react-single-page-application/index.html
!clients/react-single-page-application/package.json
!clients/react-single-page-application/public
!clients/react-single-page-application/public/*
!clients/react-single-page-application/src
!clients/react-single-page-application/src/**/*
!clients/react-single-page-application/vite.config.local.js

!system/services/
!system/services/identity/
!system/services/identity/users/
!system/services/identity/users/create/
!system/services/identity/users/create/src
!system/services/identity/users/create/src/**/*

!system/identity-server/
!system/identity-server/src
!system/identity-server/src/**/*
!system/identity-server/migrations
!system/identity-server/migrations/**/*

!system/
!system/event-server
!system/event-server/package.json
!system/event-server/schema.prisma
!system/event-server/src
!system/event-server/src/**/*
!system/event-server/tsconfig.json
!system/event-server/tsconfig.package.json
!system/event-server/migrations
!system/event-server/migrations/**/*

!system/data-access/
!system/data-access/
!system/data-access/configuration
!system/data-access/configuration/**/*
!system/data-access/migrations
!system/data-access/migrations/**/*
!system/data-access/src
!system/data-access/src/**/*

!example-micro-service

!packages
!packages/https-server
!packages/https-server/src
!packages/https-server/src/**/*